@charset "utf-8";


a{

}

a:hover{

}

*
{
border: 0;
margin: 0;
}

html{
	padding:0;
	margin:0;

}

body
{
	padding:0;
	margin:0;

	font: 12px Arial, Helvetica, sans-serif;
	background-color:#DEDE9A;
	background-image: url(spring/images/bg.jpg);
	background-repeat:repeat-x;
	background-position: top;

}


#wrapper {
	font-family: "微軟正黑體", "Arial Unicode MS";
	width: 100%;

	margin: 0;
	border: 0px none #363;
}
#header {

	padding:0;
	width: 100%;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#logo {
	height:100px;
	width: 100%;
	text-align: center;
	position: relative;
}
#logo_logo {
	display:inline
}
#logo_text {
	display:inline
}

#selectRegion {
	margin: 0;
	padding: 0;
	background-image: url(spring/images/selection.jpg);
	height: 500px;
	width: 201px;
	text-align: right;
	font-size: 26px;
	font-family: "微軟正黑體", "Arial Unicode MS";
}
#content {
	font-size: 14px;
	line-height: 1em;
	color: #000;
	padding: 30px;
}
#footer {
	font-size: 12px;
	line-height: 1.5em;
	padding: 20px;
	vertical-align: 50%;
	text-align: center;
}
#title_bar {
	font-size: 16px;
	line-height: 3em;
	font-weight: bolder;
}


#objective {

	background-color: #0C9;
}
#objective_background {
	background-attachment: scroll;
	background-image: url(spring/images/bgImg1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	height: 500px;
	width: 100%;
	font-size: 26px;
	position: relative;
	vertical-align: middle;
	text-decoration: underline;
	text-align: left;
	overflow: hidden;
	display: table;
}


#objective_bg_text {
 
  
	overflow-y:scroll;
	height: 100%;
	text-align: left;
	margin:0 auto;
	padding:10%;
}


#objective_bg_text::-webkit-scrollbar {
	display: none;
}

#rewards {
	background-attachment: scroll;
	background-image: url(spring/images/bgImg2.jpg);
	background-repeat: no-repeat;
	background-position: center center;

	overflow-y: auto;
	height: 500px;

	list-style-type: none;
	font-size: 16pt;

}
#rewards::-webkit-scrollbar {
	display: none;
}

#rewards_item{
	margin:0; padding:0; list-sytle:none

}

#rewards_item ul {

list-style:none;/*这句使之没有前面的小黑点*/
}

span {
  display: inline-block;
  vertical-align: middle;
}


#projectImgScrollRegion{
	position: relative;
	display: block
	float: left;
	width: 95%;
	height: 100px;
	
	padding: 1%;
	background-color: #FF0;
	border: 5px double #000;


}

#projectImgScrollRegion img{

	width: 100px;
	height: 100px;
}

#main {
	width: 1014px;
	height: 500px;
	margin:0px auto;
}
#mainbg{
	background: url(spring/images/main_bg.png);
	background-repeat:repeat-y;
	background-position: center;
}
#address{
	height: 100%;
	margin: 5px
	width: 260px;
	padding-top:30px;
	padding-left:20px;
	padding-right:20px;
	border:0;

	margin: 0;
	

	font-family: "標楷體";
	font-size: 16px;
	word-break: break-all;
	font-weight: bold;
	
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

table {
	table-layout: fixed;
}
#addresswrapper {
	width: 290px;
	height: 90px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 0;

	top: 5px;

	
}
#mapWrapperWrapper {
	width: 290px;
	height: 390px;
	padding-left:5px;
	padding-right:5px;
	padding-top:10px;
}
#mapwrapper {
	width: 280px;
	height: 280px;
	border: 5px double #000;
	
}

#slogan {
	margin-top:10px;

	width: 250px;
	padding:20px;
}
#btnDiv {

	width: 140px;
	height:20px;
	font-family: "微軟正黑體", "Arial Unicode MS";
	font-size: 18px;
	text-align: right;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #000;
}

#btnDiv:hover  {

	width: 140px;
	height:20px;
	font-family: "微軟正黑體", "Arial Unicode MS";
	font-size: 18px;
	text-align: right;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #000;
	color: #900;
	font-weight: bold;

}
#addressAndMap {
	margin: 0;
	padding: 0;
	background-image: url(spring/images/selection.jpg);
	height: 100%;
	width: 100%;
}
#contact_top_img {
	background-image: url(spring/images/facemountain.jpg);
	height: 100px;
	width: 100%;
}


#company_info{
	height: 340px;
	width: 400px;
	padding-top:60px;
	background-color: #CC0;
	font-family: "標楷體";
	font-size: 16px;
}

#company_info li{
	margin:10px;
}

#company_map{
	height:380px;
	padding-top:20px;
	padding-left:20px;
	background-color:#0FF;
}
#city_selection{
	top: 0px;
	background-color: #900;
	vertical-align: center;
	padding-top:10px;
	height:30px;
}
#taiwan{
	width:100%;
	height:500px;
}
.taiwan_map {
	background-image: url(spring/images/VectorTaiwanMap.svg);
	background-size: 400px 400px;
	background-repeat: no-repeat;
	/*background-position: 0px 0px;*/
	height: 100%;
	width: 100%;
	
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
  	-ms-transition: all 2s ease;
  	-o-transition: all 2s ease;
	
	
	/*-webkit-animation: cssAnimation 3s 10 ease;
	-moz-animation: cssAnimation 3s 1 ease;
	-o-animation: cssAnimation 3s 1 ease;*/
}

.taiwan_map.north {
	/*background-image: url(spring/images/VectorTaiwanMap.svg);*/
	background-size: 1300px 1300px;
	background-position: -650px 100px;
}

.taiwan_map.south {
	/*background-image: url(spring/images/VectorTaiwanMap2.svg);*/
	background-size: 800px 800px;
	background-position: -200px -300px;
}

.taiwan_map.middle {
	background-size: 700px 700px;
	background-position: -100px 0px;
}

.taiwan_map.east {
	background-size: 500px 500px;
	background-position: -100px 0px;
}



#project_list {
	padding-left:50px;
	padding-top:50px;
	padding-bottom:50px;
	height:400px;
	overflow-y:scroll;
}


@-webkit-keyframes cssAnimation {
	50% {background-size: 125px 125px;}
/*from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, 0px); }
to { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(50px, 50px); }*/
}

.divAutoAdd{
	width:300px;
	margin-bottom:30px;
}