@charset "utf-8";

a{}

h1{
	font-size:36px;
	text-shadow: 1px 1px 3px #222222;
}

*
{
border: 0;
margin: 0;
}

html{
	padding:0;
	margin:0;

}

body
{
	padding:0;
	margin:0;
	background-color:#DEDE9A;/*DEDE9A*/
	background-image: url(../images/bg.jpg);
	background-image: -moz-linear-gradient(#FFF, #DEDE9A);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, form(#FFF), to(#DEDE9A));
	background-image: -webkit-linear-gradient(#FFF, #DEDE9A);
	background-image: -o-linear-gradient(#FFF, #DEDE9A);
	
	background-repeat:repeat-x;
	background-position: top;
	overflow-y:scroll;
}


#wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px none;
	font-family: "微軟正黑體", "Arial Unicode MS";
	font-size: 18px;
}

.menu, .sub-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu {
	background-color: #070;
  height: 60px;
	width:700px;
	padding:0px calc((100% - 700px) / 2);
	margin:0px auto 0px auto;
	-webkit-box-shadow: 5px 5px 5px #777777;
	box-shadow: 5px 5px 5px #777777;
}

.menu li {
	border:0px;
	color:#FFF;
	text-shadow: 1px 1px 1px #222222;
 /* background-color: #EAD6BF;/*#DDBD99*/
  cursor: pointer;
  position: relative;
	
	text-align: center;
	
  transition: background-color .5s;
  -moz-transition: background-color .5s;
  -o-transition: background-color .5s;
  -webkit-transition: background-color .5s;
  /* IE lt 10, Chrome lt 1, Opera lt 11.6, Safari lt 3, FF lt 4, Android lt 2.1 и iOS lt 2.0 не поддерэивают transition. */
}

.menu li:hover {
	color:#C90;/*3E454D*/
  background-color: #3FA334 !important; /* 539B46.menu > li.home может иметь больше приоритета. Поэтому. */
	
}


.menu > li {
  float: left;
  height: 100%;
  width: 15%; 
  width: calc((100% - 90px) / 3);
  width: -moz-calc((100% - 90px) / 3);
  width: -webkit-calc((100% - 90px) / 3);

}

.menu > li.home {
  background: url(http://s26.postimg.org/qbf4q4j9h/home.png) center no-repeat;
  width: 90px;
}

.menu > li.current {
	/*color:#C90;*/
  background-color: #3FA334 !important; /* !important VS .menu li:hover */
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.menu > li:not(:first-child) {
  box-shadow: inset 1px 0 0 0 #900, inset 2px 0 0 0 #900;
  -moz-box-shadow: inset 1px 0 0 0 #272B31, inset 2px 0 0 0 #434A52;
  -webkit-box-shadow: inset 1px 0 0 0 #033, inset 1px 0 0 0 #033;
}

.menu > li > span {
	position: absolute;
  left: 0; 
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  /* IE lt 9, Chrome lt 5, Opera lt 10.5, Safari lt 3.1, FF lt 3.5, Android lt 2.1 и iOS lt 2.0 не поддерэивают transform. */
}

.sub-menu {
	background-color: #070;
  max-height: 0;
  min-width: 100%;
  overflow: hidden;
  position:absolute;
  bottom: 100%;
  transition: max-height .5s .2s;
  -moz-transition: max-height .5s .2s;
  -o-transition: max-height .5s .2s;
  -webkit-transition: max-height .5s .2s;
	

}

li:hover > .sub-menu {
  max-height: 600px;
}

.sub-menu li {
  height: 60px;
	line-height: 60px;
  /*transition: color .5s;
  -moz-transition: color .5s;
  -o-transition: color .5s;
  -webkit-transition: color .5s;*/
  white-space: nowrap;
	
	border-style:1px solid;
}

.sub-menu li.current {
	/*color:#C90;/*3E454D*/
  background-color: #3FA334 !important; 
}


#objectiveWrapper{
	/*display:"";*/
}

#rewardWrapper{
	/*display:none;*/
}

.header {
	width: 100%;
	height:30uv;
	padding:0px;
	margin: 0px;
	border: 0px none;
}

.header img{
	width: 100%;
	height: 30uv;
	opacity:opacity;
}

.logo {
	height:100px;
	width: 800px;
	padding: 0px;
	margin:0px auto 10px auto;
	text-align: center;
	
}

.logo img{
	height: 100px;
}

.index_btn{
	height: 60px;
	width:700px;
	padding:0px;
	margin:0px auto;
}

.index_btn table{
	 height:100%;
	 width:700px;
	 margin:0px;
	 align: center;
}

.index_btn td{
	width:95px;
	margin:0px;
	border-right:1px solid;
	text-align:center;
	text-shadow: 1px 1px 3px #222222;
}

.index_btn td.last{
	width:95px;
	margin:0px;
	border-right:0px solid;
	text-align:center;
	text-shadow: 1px 1px 3px #222222;
}

.index_btn td:hover{
	background-color:#D19E58;
	color:#8E6137;
	cursor:pointer;
	text-shadow: 0px 0px;
}

.index_btn td.current{
	background-color:#D19E58;
	color:#8E6137;
	cursor:default;
	text-shadow: 0px 0px;
}

.index_btn td.currentlast{
	background-color:#D19E58;
	color:#8E6137;
	cursor:default;
	border-right:0px solid;
	text-shadow: 0px 0px;
}

.content {
	
	width: 880px;
	height: 460px;
	margin:0px auto 10px auto;
	padding:20px 40px;
	box-shadow: 0px 0px 15px #777777;
	-webkit-box-shadow: 0px 0px 15px #777777;

	display:none;
}

.content .title{
	margin-bottom:10px;
	border-bottom:1px solid;
}

.content h1{
	display:inline;
}

.content p{
	padding: 0px 15px;
}
.content img{
	height:1.8em;;
}

.content .bg_bird{
	 width:200px; 
	 height:200px;
	 float:left;
}

.project_content {
	width: 880px;
	height: 460px;
	margin:0px auto 10px auto;
	padding:20px 40px;
	box-shadow: 0px 0px 15px #777777;
	-webkit-box-shadow: 0px 0px 15px #777777;
	display:none;
}

.project_content .title{
	margin-bottom:10px;
	border-bottom:1px solid;
}

.project_content h1{
	display:inline;
}

.project_content p{
	padding:0px 15px;
}
.project_content img{
	height:1.8em;;
}

.objective {
	height: 360px;
	overflow-y: auto;

}

.title_ProjectInfo{
	height:	340px;
}

.rewards {
	height: 360px;
	overflow-y: auto;

}
/*.rewards::-webkit-scrollbar {
	display: none;
}*/

.rewards_item{
	margin:0; 
	padding:0; 
	list-sytle:none

}

.rewards_item img{
	height:1em;
	}

.rewards_item ul {
	list-style:none;/*这句使之没有前面的小黑点*/
}


.info{
	width:460px;
	height:260px;
	padding:50px 0px 50px 20px;
	float:left;
	
}

.info li{
	margin: 10px 0px;
	list-style:none;
}

.map{
	width:379px;
	height:340px;
	padding:10px;
	float:left;
}

.map iframe{
	width:360px; 
	height:340px;
	box-shadow: 1px 1px 15px #777777;
	-webkit-box-shadow: 1px 1px 15px #777777;

}

.left{
	
	width:460px;
	height:390px;
	padding:0px;
	float:left;
}
.left p{
	margin:0px;
	padding: 0px;	
}
.project_info{
	width:460px;
	height:260px;
	padding:0px;
	margin:0px 0px 5px 0px;	
	overflow-y:auto;
}

.project_gallery{

	height:100px;
	width:460px;
	
	padding:5px;
	margin:0px;

	box-shadow: 1px 1px 15px #111111;
	-webkit-box-shadow: 1px 1px 15px #111111;

	position: relative;
	display: block;

	
}

.project_gallery img{

	/*position: relative;
			float: left;*/
	margin-right: 5px;
	padding: 0px;
	
	height:100px;
	width:100px
}

.right{
	width:420;
	padding:0px;
	margin:0px;
	float:left;
}

.right .address{
	width:370px;
	height:60px;
  background-image:url(../images/plate.png);
	background-repeat:no-repeat;
	background-position:center;
	margin:0px 0px 0px 20px;
	padding:40px 0px 0px 30px;
}

.right .address p{
	font-family:"標楷體";
	font-weight:bold;
}

.right .map{
	width:380px;
	margin:0px 0px 0px 20px;
}

.right .map iframe{
	width:380px; 
	height:340px;
	box-shadow: 1px 1px 15px #777777;
	-webkit-box-shadow: 1px 1px 15px #777777;
}

.region_select{
	height:30px;
	width:460px;
}


.region_select table{
	height:100%;
	width:460px;
	margin:0px;
	padding:0px;
	align: center;
}

.region_select td{
	
	margin:0;
	border-right:1px solid;
	text-align:center;
	text-shadow: 1px 1px 3px #222222;
}
.region_select td:hover{
	background-color:#D19E58;
	color:#8E6137;
	cursor:pointer;
	text-shadow: 0px 0px;
}

.region_select td.current{
	background-color:#D19E58;
	color:#8E6137;
	cursor:default;
	text-shadow: 0px 0px;
}

.project_list {
	width: 360px;
	height:390px;
	margin: 0px auto;
	padding: 30px;
	
	overflow-y:auto;
}

.divAutoAdd{
	width:300px;
	height:110px;
	padding:5px;
	margin-bottom:30px;
	background-color:#CCC;
	box-shadow: 5px 5px 5px #777777;
	-webkit-box-shadow: 5px 5px 5px #777777;
	vertical-align:middle;
}

.divAutoAdd:hover{
cursor:pointer;
}

.divAutoAdd img{
	width:160px;
	height:110px;
	float:right;
}

.divAutoAdd p{
	font-family:"標楷體";
	margin-top:20px;
	vertical-align:middle;
}

#footer {
	font-size: 12px;

	height: 1.5em;
	padding: 20px;
	vertical-align: 50%;
	text-align: center;
	/*background-color: #060;
	
	-webkit-box-shadow: 5px 5px 5px #777777;
	box-shadow: 5px 5px 5px #777777;*/
}




.taiwan_map {
	background-image: url(../images/VectorTaiwanMap.svg);
	background-size: 400px 400px;
	background-repeat: no-repeat;
	/*background-position: 0px 0px;*/
	height: 460px;
	width: 400px;
	
	-webkit-transition: all 2s ease;
	-moz-transition: all 2s ease;
  	-ms-transition: all 2s ease;
  	-o-transition: all 2s ease;
	

	/*-webkit-animation: cssAnimation 3s 10 ease;
	-moz-animation: cssAnimation 3s 1 ease;
	-o-animation: cssAnimation 3s 1 ease;*/
}

.taiwan_map img {
   /*position:absolute;
   left:50%;
   top:50%;*/
   /*margin-left:-10px;
   margin-top:-10px;*/
}

.taiwan_map.north {
	/*background-image: url(spring/images/VectorTaiwanMap.svg);*/
	background-size: 1300px 1300px;
	background-position: -650px 100px;
}

.taiwan_map.south {
	/*background-image: url(spring/images/VectorTaiwanMap2.svg);*/
	background-size: 800px 800px;
	background-position: -200px -300px;
}

.taiwan_map.middle {
	background-size: 700px 700px;
	background-position: -100px 0px;
}

.taiwan_map.east {
	background-size: 500px 500px;
	background-position: -100px 0px;
}




/*
@-webkit-keyframes cssAnimation {
	50% {background-size: 125px 125px;}
from { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px, 0px); }
to { -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(50px, 50px); }
}*/



.smallIcon{
	width:50px;	
	-webkit-transition: all 10s ease;
	-moz-transition: all 2s ease;
  	-ms-transition: all 2s ease;
  	-o-transition: all 2s ease;
}

.smallIcon.appear{
	width:50px;
}
